* {
  padding: 0px;
  margin: 0px;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}
body {
  min-width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

#content {
  grid-auto-rows: auto auto auto;
  grid-template-columns: 1fr;
}

/* 

*** HEADER ELEMENT STYLINGS ***

 */
#header-layout {
  grid-template-rows: minmax(70px, 4.5vw);
  grid-template-columns: minmax(200px, 25%) 75%;
  grid-column-gap: 12px;
}
#header-layout > #name-box {
  grid-area: 1 / 1 / 1 / 1;
  align-items: start;
  justify-content: end;
  padding-left: 12px;
}
#header-layout > #name-box > #my-name {
  white-space: nowrap;
  font-size: max(24px, 2.5vw);
  margin-left: auto;
  margin-right: 1.5em;
  margin-bottom: 0.1em;
}
#header-layout > #header-buttons-layout {
  grid-template-columns: repeat(4, minmax(4.5em, 6vw));
  grid-template-rows: 100%;
  grid-column-gap: 24px;
  margin-left: auto;
  margin-right: 30vw;
}
.header-button-text {
  padding-top: max(16px, 1.2vw);
  height: max(50px, 2vw);
  font-size: max(16px, 1vw);
  text-align: center;
  font-weight: 500;
}
.header-button {
  height: 80%;
}
.header-button-hovered {
  height: 0px;
  transition: height 0.3s ease-out;
}
.header-button-hovered:hover {
  height: 100%;
}
.current-page-button {
  text-decoration: underline;
}

/* 

*** BODY ELEMENT STYLINGS ***

 */
 /* home page */
#body-layout-home, #body-layout-about, #body-layout-projects, #body-layout-contact {
  padding: 3vw;
}
#body-layout-home {
  grid-template-rows: 1100px;
  grid-template-columns: 1fr 1fr;
}
#body-text {
  margin-top: max(155px, 10vw);
  margin-left: 40px;
  height: auto;
}
.body-text-box {
  margin-right: 8vw;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
}
.text-header {
  font-size: max(24px, 2.5vw);
  font-weight: 400;
}
.text-1{
  font-size: max(18px, 1.5vw);
  font-weight: 400;
}
#site-greeting {
  padding: 20px;
  background-color: rgb(72, 40, 83);
  border-radius: 20px;
}
#site-greeting-subtext {
  margin-top: 40px;
  margin-right: 5vw;
  margin-left: 2vw;
}

/* about page */
#body-layout-about {
  /* grid-template-rows: repeat(auto-fit, 500px); */
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}
.text-panel {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  /* padding: 1.5vw; */

}
.textbox {
  max-height: 0;
  width: 800px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  transition: max-height 0.5s ease, background-color 0.5s ease;
}
.textbox.is-active {
  transition: max-height 0.5s ease;
  max-height: 100%;
  background-color: rgb(53, 31, 61);
}
div.textbox-header {
  background-color: rgb(72, 40, 83);
  height: 36px;
  width: auto;
  justify-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  transition: padding 0.5s ease;
}
div.textbox-header:hover {
  padding-top: 24px;
  padding-bottom: 24px;
}
div.textbox-text {
  margin-top: 12px;
  padding-left: 36px;
  padding-right: 36px;
  text-align: left;
  font-size: 20px;
  max-height: 0px;
  color: transparent;
  transition: color 0.5s ease, max-height 0.5s ease;
  resize: none;
}
.textbox-text.is-active {
  transition: max-height 0.1s ease, color 0.5s ease;
  color: white;
  max-height: calc(500px - 56px);
}

/* #college-text {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}
#tate-and-lyle-text {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}
#programming-text {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
} */

/* contact page */
.LI-profile-badge {
  margin-left: 15vw;
  margin-top: 200px;
}

/* 

*** FOOTER ELEMENT STYLINGS ***

 */
#footer-layout {
  height: 120px;
}
.footer-content {
  font-size: 18px;
  font-weight: 300;
}

/* 

*** MISCELLANEOUS STYLINGS ***

 */
.flex-column { 
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.background-black {
  background-color: rgb(37, 27, 41);
}
.background-purple {
  background-color: rgb(83, 26, 116);
}
.background-darkpurple {
  background-color: rgb(53, 31, 61);
}
.background-lightgray {
  background-color: lightgray;
}

.grid-display {
  display: grid;
}

.text-white {
  color: white;
}

.font-system {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  height: 400px;
  width: 400px;
  background-color: rgb(83, 26, 116);
  border-radius: 12px;
  align-self: center;
  justify-self: center;
}